* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
    
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly;  */
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("Images/amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.nav-address{
    width: 100px;
}

.add-first {
    color: #CCCCCC;
    font-size: 0.75rem;
    margin-left: 15px;
    margin-right: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
    
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 1250px;
    height: 40px;
    background-color: pink;
    border-radius: 5px;
    overflow: hidden; /* Ensures child elements fit within the border-radius */
}

.nav-search:hover {
    border: 2px solid #febd68;
}

.option1 {
    text-align: center;
}

.search-select {
    background-color: #F3F3F3;
    width: 50px;
    text-align: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(105, 0, 105);
    font-weight: bold;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-lang {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    margin-left:30px;
    margin-right: 20px;
}

.flag-icon {
    width: 30px; /* Adjust width to fit navbar */
    height: 25px; /* Adjust height to fit navbar */
    margin-right: 5px; /* Space between flag and select */
    
}


.lang-select {
    background-color: #0F1111;
    width: 40px;
    color:white;
    text-align: center;
    border: none;
    margin-left: 0px;
}

.optionl{
    background-color: white;
    color: black;
    text-align: left;
}

.signin{
    width: 120px;
    margin-right: 20px;
}

.return {
    width: 70px;
    margin-right: 20px;
}

span {
    font-size: 12px;
}

.acc{
    font-size: 14px;
    font-weight: bold;
}

.cart{
    display: flex;
}

.cart-icon i{
    font-size: 30px;
}

.cart {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
}

.bar {
    margin-right: 6px;
    font-weight: bold;
}


.panel {
    background-color: #203041;
    display: flex;
    height: 40px;
    align-items: center;
}

.panel-all{
    color:white;
    display: flex;
    margin-left: 20px;
    margin-right: 5px;
    font-weight: bold;
}

.panel-ops {
    color: white;
    margin: 30px;
    display: flex;
    width: 70%;
    font-size: 0.85rem;
}

.panel-ops p{
    margin-left: 3px;
    margin-right: 20px;
}



.lSPager {
    margin-top: -25px !important;
}
.Main-container{
    width: 1500px;
    height: auto;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    /* border: 1px solid gainsboro; */
    box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
    /* background-color: #b8b5b3; */
}
.main-sec{
    height: 600px;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.banner-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    position: relative;
    z-index: 1;
    /* margin-left: 200px; */
}
.image-container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 1500px;
}

/* Ensure images are responsive */
.m-img {
   
    height: 600px;
}

.text-overlay {
    /* display: flex; */
    position: absolute;
    bottom: 320px;
    left: 20px;
    right: 20px;
    background-color: white; 
    color: black; 
    padding: 10px;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    /* height: 40px; */
}

 
.text a{
    color: #007185;
    text-decoration: none;
    font-size: 12px;
}


.text a:hover{
    color: #e68b03;
}



 /* shop section */
.shop-sec{
/* box ko i,age ke upar display krne ke liye position use hota hai */

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 80%;
    padding: 20px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
    
}



.box {
    height:400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-position: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.shop-sec > .box >.box-content> p > a {
    color: #007185;
    text-decoration: none;
}

/* footer */

footer{
    margin-top: 600px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    justify-content: space-evenly;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 400px;
    text-decoration: none;
    display: flex;
    justify-content: center;
   
    /* align-items: center; */
}

ul {
    margin-top: 50px;
    margin-right: 120px;
}

ul p{
    font-weight: bold;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 12px;
    color: #dddddd;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.001px solid rgb(87, 84, 84);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("Images/amazon_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
}



.borderf {
    border: 1.5px solid white;
}

.b1{
    margin-left: 70px;
    height: 30px;
    width: 120px;
}

.b2{
    height: 30px;
    width: 140px;
   
}

.b2 p{
    margin-top: 5px;
}

.b3{
    margin-left: 15px;
    height: 30px;
    width: 120px;
}

.b3 .flag-iconf{
    height: 10px;
}

.b3 p{
    margin-top: 5px;
}

.langSelect {
    background-color: #222f3d;
    width: 80px;
    color:white;
    text-align: center;
    border: none;
    margin-left: 0px;
}

.b2,.b3{
    font-size: 14px;
    text-align: center;
    /* margin-top: 3px; */
    margin-right: 5px;
}
.foot-panel4 {
    background-color: #101313;
    margin-top: 0px;
    color: white;
    height: 500px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.foot-panel4 .lists{
    display: flex;
    margin-left: 350px;
    height: 400px;
}
.foot-panel4 .lists  ul{
    margin-right: 75px;
}

.foot-panel4 .lists  ul a{
    text-align: left;
   
}

.foot-panel4 .lists  ul a:hover{
    text-decoration: underline;
}

.foot-panel4 .lists  ul .f1{
    margin-top: 20px;
}

.foot-panel4 .lists  ul .af1{
    margin-top: 25px;
}

.foot-panel4 .lists  ul a h5{
    font-weight: bold;
    font-size: 14px;
}
.foot-panel4 .lists  ul a  p{
    font-size: 12px;
    font-weight: 100;

    
}

.pages {
    
    padding-top: 25px;

}
.pages a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 12px;
}

.pages a:hover{
    text-decoration: underline;
}

.copyright {
    padding-top: 5px;
    
}